{% if list is not defined %}<script>{% endif %}
    $("#table-liste-classe").bootstrapTable("{{ index is defined ? "updateRow" : "insertRow" }}", {
        index: {{ index is defined ? index : 0 }},
        row: {
        id: '{{ classe.id }}',
        niveau: '{{ classe.niveau }}',
        libelle: '{{ classe.libelle }}',
        action: "\n" +
            '<a href="javascript:void(0);" data-id="{{ classe.id }}" data-action="{{ path("classe_delete", {"id": classe.id}) }}"'+
               'class="btn-delete-classe"><i class="icon-trash"></i></a>'+
            '<a href="#modal-edit-classe" data-toggle="modal" data-action="{{ path("classe_edit", {"id": classe.id}) }}"'+
               'class="btn-edit-classe"><i class="icon-pencil"></i></a>'
        }
    })
{% if list is not defined %}</script>{% endif %}
