{% extends "impression/print.html.twig" %}
{% set info = InfoGeneral() %}

{% block title %}
    <title> بطاقة الارشادات</title>
{% endblock %}

{% block header %}
    {% include "impression/header.html.twig" %}
{% endblock %}

{% block content %}
<style>
p{
    font-size: 16px;
}
 td{
 font-size: bold;   
} 
</style>
    <h1>بطاقة إرشادات</h1>
    <p><b>تعريف التلميذ:</b></p>
    <table>
        <tbody>
        <tr>
            <th>الاسم و اللقب:{{ eleve.nomPrenom }}</th>
           <th>تاريخ الولادة:{{ eleve.dateNaissance|date('Y/m/d') }}</th>
           <th> مكانها:{{ eleve.lieuNaissance }}</th>
        </tr>
        <tr>
            <th>الجنسية:..................</th>
           <th>قسم السنة الفارطة: {{ eleve.classeAnneeDerniere }}</th>
           <th>قسم السنة الحالية: {{ eleve.classeAnneeActuelle }}</th>
        </tr>
        <tr>
           <th>القسم أو المدرسة الإعدادية للسنة الفارطة: </th>
            <th>{{ eleve.etablissementAnneeDerniere }}</th>
            <td></td>
        </tr>
        <tr>
            <th>حالة التلميذ الاجتماعية :</th>
                        <td> هل هو يتيم الاب و الأم:...........</td>
         </tr>
         <tr>
             <td></td>
             <td> مطلقان: الحضانة للأب:....</td>
                         {# <td>الحضانة للأب </td> #}
                         <td> الحضانة للأم:....</td> 

        </tr>
        <tr>
            <td>عدد الإخوة بالتعليم الأساسي:...........</td>
             <td> بالتعليم الثانوي:.........</td>
             <td> بالتعليم العالي:........</td>
        </tr>
         <tr>
            <td>إسم الأب أو الولي:...............................</td>
             <td> المهنة:...................................</td>
             <td> الهاتف الجوال:...............................</td>
        </tr>
         <tr>
            <td>رقم بطاقة التعريف الوطنية للأب:.............</td>
             <td> تاريخ إصدارها:..........................</td>
        </tr>
         <tr>
            <td>اسم الأم و لقبها:................................</td>
             <td> المهنة:.........................</td>
        </tr>
        <tr>
            <td>عنوان العمل:......................................</td>
        </tr>
        <tr>
            <td>عنوان السكن:.....................................</td>
        </tr>
        <tr>
            <td>الهاتف بالمنزل:....................</td>
        </tr>
        <tr>
            <td>نائب الولي عند غياب الولي الشرعي</td>
            <td>(خارج ارض الوطن):....................</td>
            <td>ر.ب.ت.و:....................</td>
        </tr>
        </tbody>
    </table>
    <p style="font-size: 16px;"><b>ملاحظات هامة:
         <ul style="font-size: 16px;">
            <li>كل غياب عن الدروس لم يقع تبريره في ظرف يومان من بداية الغياب يعتبر غياب غير شرعي و ينجر عنه إسناد صفر في الفروض المنجزة
في تلك الفترة</li>
            <li>الاعفاء من ممارسة الرياضة لا يمكن أن يكون قانونيا إلا بموافقة الطبيب المدرسي</li>
         </ul>
  </b>
</p>  
    <p style="font-size: 16px;">إني الممضي أسفله ................................ اشهد بصحة الارشادات الواردة أعلاه و إني تسلمت نسخة من القانون الداخلي للمعهد عند قيامي
بالترسيم لمنضوري المذكور أعلاه قصد الاطلاع عليه و العمل بمقتضاه</p>

    <br><br><br><br>
    <p style="text-align: left; font-size: 16px;"><b>إمضاء الولي معرف بالبلدية</b></p>
    
{% endblock %}