{% extends "impression/print.html.twig" %}
{% set info = InfoGeneral() %}

{% block title %}
    <title>استدعاء ولي</title>
{% endblock %}

{% block header %}
    {% include "impression/header.html.twig" %}
{% endblock %}

{% block content %}
<style>
p{
    font-size: 16px;
}

</style>
   <h1>استدعاء ولي</h1>
   <br><br> <br>
    <table>
        <tbody>
        <tr>
            
            <th colspan="2"> من مدير(ة){{ info.etablissement }}</th>
        </tr>
          <tr>
            <th colspan="2">إلى السيد : {{ eleve.nomPere }}  </th>
            
        </tr>
        <tr>
            <th>  ولي  التلميذ(ة) : {{ eleve.nomPrenom }}</th>
            <th >المرسم(ة) بـ{{ eleve.classeAnneeActuelle }}</th>
        </tr>
        <tr>
            <td> <br><br> <br> </td>
        </tr>
        <tr>
            <th colspan="2"> الرجاء منكم الحضور الى المعهد في اقرب الاجال لامر يهم ابنكم(ابنتكم).</th>
            <th></th>
        </tr>
       
        </tbody>
    </table>
   
    <br><br><br><br>
        <p style="text-align: left; font-size: 16px;"><b>في : {{ date()|date('d-m-Y') }}</b></p>

    <p style="text-align: left; font-size: 16px;"><b>إمضاء القيم العام</b></p>
    
{% endblock %}