{% extends "base.html.twig" %}

{% block title %}{{ "JourFerie"|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("assets/css/style-crud.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ asset("assets/css/bootstrap-table.min.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <style>
        div.icon-spinner3 {
            font-size: 100%
        }

        .m-t-25 {
            margin-top: 25px;
        }

    </style>
    <div class="page-header page-header-default">
            <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                                        <li><a href="index.html"><i class="icon-home2 position-left"></i> {{ "Données Statique"|trans }}</a></li>
                                        <li class="active">{{ "JourFeries"|trans }}</li>
                    </ul>
                    {% include "layout.html.twig" %} 
            </div>
    </div>
    <div id="message-alert"></div>
    <div id="modal-add-jourferie" class="modal fade" tabindex="-1">
        <div id="modal-message-alert"></div>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h6 class="modal-title">{{ "Ajout d'un nouvel élément"|trans }}</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body" style="overflow:hidden;">
                    {{ include("jourFerie/form.html.twig",{action:path("jourferie_new")}) }}
                </div>
            </div>
        </div>
    </div>
    <div id="modal-edit-jourferie" class="modal fade" tabindex="-1">
        <div id="modal-message-alert"></div>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h6 class="modal-title">{{ "Modifier élément"|trans }}</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body" style="overflow:hidden;">

                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">{{ "JourFeries"|trans }} (<span
                        id="count-item-jourferie">{{ jourferies|length }}</span> {{ "éléments"|trans }})<a
                        class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
            <div class="heading-elements">
                <a href="#modal-add-jourferie" data-toggle="modal" class="btn border-primary btn-xs text-slate-800 btn-flat"><i
                            class="icon-plus-circle2 position-left"></i> {{ "Nouvel  Élément"|trans }}</a>
            </div>
        </div>


        <div class="panel-body table-responsive">

            <table class="table table-striped" id="table-liste-jourferie" data-toggle="table" data-search="true" data-pagination="true">
                <thead>
                <tr>
                    <th data-field="id"></th>
                    <th data-field="debut">{{ "Date Début"|trans }}</th>
                    <th data-field="fin">{{ "Date Fin"|trans }}</th>
                    <th data-field="libelle">{{ "Libellé"|trans }}</th>

                    <th class="action" data-field="action">{{ "Actions"|trans }}</th>
                </tr>
                </thead>
                <tbody id="table_div">
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>$( document ).ready(function() {$("#table-liste-jourferie").bootstrapTable("hideColumn", "id");});</script>

    <script>
        setTimeout(function(){
            {% for jourferie in jourferies %}
                {{ include("jourFerie/item.html.twig",{"jourferie":jourferie,"list":true}) }}
            {% endfor %}
        }, 500);
    </script>

    {{ include("jquery_crud.html.twig",{"entity":"jourferie","bootstrapTable":true}) }}
{% endblock %}
